<div class="px-4 py-5 my-5 text-center" style="background-color: #ffe6f0;">
    <div class="col-lg-4 mx-auto" style="background-color: #ffffff; border-radius: 10px; padding: 25px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h3 style="color: #ff66b2;">Add Task</h3>
        <div class="justify-content-sm-center">

            <input type="text" class="form-control p-2 m-3" id="title" placeholder="Title">

            <textarea class="form-control p-2 m-3" id="discription" placeholder="Description" rows="4"></textarea>

            <select class="form-control p-2 m-3" id="status">
                <option value="TO_DO">TO_DO</option>
                <option value="IN_PROGRESS">IN_PROGRESS</option>
                <option value="DONE">DONE</option>
            </select>

            <input type="datetime-local" class="form-control p-2 m-3" id="createdAt" placeholder="Created At">
        
            <button type="button" class="btn btn-dark m-3">Add Task</button>

        </div>
    </div>
</div>
