<div class="container">
  <header class="d-flex justify-content-center py-3" style="background-color: #ffeb3b; border-radius: 10px;">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" aria-current="page" style="font-size: 18px; color: #343a40;">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/task-list" class="nav-link" style="font-size: 18px; color: #343a40;">Task List</a>
      </li>
      <li class="nav-item">
        <a routerLink="/task-form" class="nav-link" style="font-size: 18px; color: #343a40;">Task Form</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="font-size: 18px; color: #343a40;">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="font-size: 18px; color: #343a40;">Features</a>
      </li>
    </ul>
  </header>
</div>
